
html{
    height: 100%;
}
h1{
    text-align: center;
}
body{
    /* background: whitesmoke; */
    padding: 1rem 5rem;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    background-image:  url('./images/cloudy.jpg');
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    color: #fff;
    font-family: 'Rubik', sans-serif;
}
#input{
    font-size: 18px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    background: aliceblue;
}
#search{
    background: none;
    padding: 5px 20px;
    color: aliceblue;
    outline: none;
    background: cadetblue;
    font-size: 17px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
.weather,.details,.forecstH,.dayF{
    position: relative;
    background: rgba( 110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0
      rgba(0, 0, 0, 0, 3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter:blur(10px) ;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    padding: 3em 2em;
    text-align: center;
    color: aliceblue;
}
.details{
    height: 30%;
}
#city{
    font-size: 30px;
}
.weather img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(240, 248, 255, 0.408);
}
#temperature{
    font-size: 50px;
    margin: 0;
    margin-left: 30px;
    margin-bottom: 10px;
}
.temp-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
#clouds{
    font-size: 20px;
    /* background: rgba(153, 205, 50, 0.778); */
    padding: 2px 20px;
    border-radius: 15px;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
    color: white;
}
.next,.item{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 10px 0;
}
.next p,.next h3{
    margin: 3px 0;
}
.forecstD{
    margin: 20px 50px;
    color: aliceblue;
}
.weekF{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.cast-header,.detail-header{
    color: aliceblue;
    background: rgba(23, 23, 22, 0.539);
    width: max-content;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 18px;
    margin-bottom: 5px;
}
.time,.date{
    color: black;
}
.desc, .cloud{
    color: rgb(196, 255, 77);
    justify-content:space-between;
}
footer p{
    color: #fff;
}
img{
    width: 60px;
    height: 60px;
}
